<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <script>
        function home(){
            location.href='/list/'
        }
        function update(){
            document.form1.action="/update/"
            document.form1.submit()
        }
        function del(){
            document.form1.action="/delete/"
            document.form1.submit()

        }
    </script>
</head>
<body>
<h2>글상세보기,수정</h2>
<form id="form1" name="form1" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div style="width:800px">번호 : <input type="text" name="idx" value="{{ dto.idx }}" readonly> </div>
    <div style="width:800px">제목 : <input type="text" name="title" value="{{ dto.title }}"> </div>
<div style="width:800px">작성자 : <input type="text" name="writer" size="70" value="{{ dto.writer }}" readonly></div>
<div style="width:800px">내용 : <textarea rows="3" cols="70" name="content"  >{{ dto.content }}</textarea></div>
<div style="width:800px">첨부파일  :
    {% if dto.filesize > 0 %}
    <a href="/download?idx={{ dto.idx }}">{{ dto.filename }}({{ fsize }}KB)</a>
    {% endif %}
    <input type="file" name="file" ></div>
<div style="width:800px">조회수 : {{ dto.hit }} </div>
<div style="width:800px">다운로드 수 : {{ dto.down }}</div>
<div style="width:800px">게시물 등록일  : {{ dto.post_date }}</div>



<div>
<button type="button"onclick="home()">목록</button>
<button type="button"onclick="update()">수정</button>
<button type="button"onclick="del()">삭제</button>
</div>
</form>
<h2>댓글 영역</h2>
<form method="post" action="/reply_insert/">
    {% csrf_token %}
    <div>작성자:<input type="text" name="writer" placeholder="작성자"></div>
    <div>댓글:<textarea rows="3" cols="70" name="content"></textarea> </div>
    <input type="hidden" name="idx"value="{{ dto.idx }}">
    <div><button type="submit">댓글등록</button> </div>
</form>
<h2>댓글 리스트 영역</h2>
{% for comment in commentList %}
    <div>{{ comment.content }}</div>
    <div>{{ comment.writer }}{{ comment.post_date }}</div>
{% endfor %}
</body>
</html>